# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\theka\OneDrive\Pulpit\Studia\SO2_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

../cmake-build-debug
../cmake-build-wsl_profile